# Dependencias
node_modules/
.pnp
.pnp.js

# Entornos y Secretos
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build del Frontend (Vite/React)
dist/
dist-ssr/
build/
*.local

# Editor / Sistema
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos de caché
.npm/
.eslintcache
.vite/
